@font-face {
    font-family: Manteka;
    src: url(../fonts/manteka.ttf);
}

@font-face {
    font-family: Simplifica;
    src: url(../fonts/simplifica.ttf);
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

body {
    background: #000000 url('bg.jpg') repeat;
    color: white;
    font-family: "Comic Sans Ms", Arial, sans-serif;
    margin: 0;
}

main {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
}

nav {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

nav img {
    float: left;
}

nav ul {
    margin: 0;
    padding-left: 60px;
    list-style-type: none;
}

nav ul li {
    display: block;
    height: 40px;
    min-height: 40px;
    color: black;
    text-align: center;
    opacity: 0.9;
    font-family: Simplifica, Arial, sans-serif;
    font-size: 38px;
    border-left: black solid 1px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

nav ul li a {
    color: white;
}

nav ul li:hover {
    -webkit-box-shadow: inset 0px 0px 45px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 45px 1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 45px 1px rgba(0, 0, 0, 0.75);
    border-left: black solid 20px;
}

nav ul li:nth-child(1) {
    background-color: #589fe2;
}

nav ul li:nth-child(2) {
    background-color: #e88161;
}

nav ul li:nth-child(3) {
    background-color: #7c488f;
}

nav ul li:nth-child(4) {
    background-color: #1d8965;
}

nav ul li:nth-child(5) {
    background-color: #a5a5a5;
}

ul {
    list-style-type: none;
    color: rgb(221, 228, 225);
    font-size: 120%;
    overflow: hidden;
}

h1 {
    font-family: "Comic Sans Ms", Arial, sans-serif;
    color: rgb(0, 247, 252);
    text-align: center;
}

.content {
    border-bottom: #589fe2 10px solid;
}

.content h1, h2, p {
    margin-left: 10px;
	margin-right:10px;
}

.ulright {
    float: right;
}

.content {
    border-bottom: #589fe2 10px solid;
}
.center{text-align:center;
		color:red;}
footer {
    display: block;
    width: 70%;
    margin: 0 auto;
    border-top: black solid 10px;
}

footer a {
    color: white;
}

footer section {
    width: 32%;
    display: inline-block;
    min-height: 100px;
}

h2{		text-align:center;
		text-shadow:6px 1px 6px rgba(255,0,0,0.8);
		border-radius:100px;
		background:linear-gradient(cyan,grey);}
