@font-face {
    font-family: manteka;
    src: url(../fonts/manteka.ttf);
}

@font-face {
	font-family: simplifica;
	src: url(../fonts/simplifica.ttf);
}

body {
	background: #000000 url('bg.jpg') repeat;
	color: white;
	font-family: simplifica;
	font-size: 24px;
	margin: 0;
}

main {
	width: 70%;
	margin: 0 auto;

	background-color: rgba(0, 0, 0, 0.8);
	display:block;
}

nav {
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}

ul {list-style-type: katakana;
		color:rgb(221, 228, 225);
	font-size:120%;
overflow:hidden;}

h1 {font-family: "Comic Sans Ms",Arial, sans-serif;
		color:rgb(0, 247, 252);
		text-align:center;}

.ulright {float:right;}

.content {border-bottom: #589fe2 10px solid;}

.center{text-align:center;}