body {
	background: #000000 url('bg.jpg') repeat;
	margin: 0;
}

main {
	width: 70%;
	margin: 0 auto;

	background-color: rgba(0, 0, 0, 0.8);
	display:block;
}

nav {
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}

ul {list-style-type: none	;
		color:rgb(221, 228, 225);
	font-size:100%;

}

h1 {font-family: "Comic Sans Ms",Arial, sans-serif;
		color:rgb(0, 247, 252);
		text-align:center;}
h3 {font-weight:bold;
	font-size:300%;
		color:rgb(221,228,225);
	text-align:center;
margin-top:3%;
margin-bottom:3%;}

.imageh1 {display:block;
					margin: 0 auto;
					margin-bottom:1%;}

.pcenter {margin-right:50%;
	margin-left:auto;
					margin-bottom:1%	;
							color:rgb(221, 228, 225);
						font-size:130%;
}

.floatleft {float:left;}




.content {border-top: #589fe2 10px solid;}
