body  {
	background-color: white;
	font-family: Arial, Halvetica, sans-serif;
	margin: 0 10px 0 10px;
	color: black;
}

p  {
	font-family: 'Times New Roman', serif;
	margin: 0;
}

h1  {
	font-family: 'Times New Roman', serif;
	text-align: right;
	font-style: italic;
	margin: 0;
}

nav {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

nav a {
	background-color: black;
	color: white;
	font-size: 125%;
	font-weight: bold;
}

nav a:hover {
	background-color: yellow;
	color: black;
}

aside {
	width: 150px;
	background-color: black;
	font-size: 75%;
	text-align: left;
	margin-right: 10px;
	padding: 10px 10px 25px 10px;
	color: white;
}

aside strong {
	background-color: black;
	color: yellow;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.spaced {
	margin: 10px;
}

.spacedh {
	margin: 0 10px;
}

a img {
	clear: both;
	margin: 0 auto;
}
