body{
	background-color: tan;
	font-family: arial, sans-serif;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	background-color: wheat;
	min-height: 1000px;
	padding-bottom: 40px;
}

aside {
	width: 520px;
	margin-left: 15px;
	position: absolute;
	float: right;
}

header {
	height: 127px;
	width: 100%;
	border-bottom: 2px solid black;
}

.title {
	font-family: serif;
	font-size: 200%;
	font-weight: bold;
	padding-left: 150px;
	padding-top: 20px;
}

p {
	margin-left: 550px;
	padding: 10px;
}

footer {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

footer p {
	clear: left;
	padding: 0;
	margin: 0;
	color: white;
	background-color: black;
}

h1 {
	font-size: 150%;
	text-align: center;
}

th, td {
	font-weight: normal;
	border: 1px solid black;
	padding: 10px 25px 10px 25px;
}

td:first-child {
	text-align: left;
}

td:first-child + td {
	/* second col */
	text-align: center;
}

td:first-child + td + td {
	/* third col */
	text-align: center;
}

table{
	background-color: rgb(222, 222, 222);
	width: 500px;
	border: 4px solid black;
	border-collapse: collapse;
	margin-bottom: 10px;
}

caption {
	color: white;
	font-weight: bold;
	background-color: green;
	caption-side: bottom;
}
